<!DOCTYPE html>
<html>
<head>
  <title>Blog - EyeMechanic</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/blog">Blog</a> |
    <a href="/newsletter">Newsletter</a>
  </nav>
  <main>
    <h1>Blog Posts</h1>
    <p class="subtitle">Latest insights and stories from EyeMechanic</p>
    <ul>
      <% posts.forEach(function(post) { %>
        <li><a href="/blog/<%= post.slug %>"><%= post.title %></a></li>
      <% }); %>
    </ul>
  </main>
</body>
</html> 