<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - EyeMechanic</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/blog">Blog</a> |
    <a href="/newsletter">Newsletter</a>
  </nav>
  <main>
    <h1><%= title %></h1>
    <article><%- content %></article>
  </main>
</body>
</html> 