<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - Clinician's Blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/blog">Blog</a>
  </nav>
  <h1><%= title %></h1>
  <article><%- content %></article>
</body>
</html> 